
/*Primary*/
$soft_red: hsl(7, 99%, 70%);
$yellow: #fad400;
/*(graphic design text)*/
$dark_desaturated_cyan : #25564b;
/*(photography text)*/
$dark_blue : #19536b;
/*(footer)*/
$dark_moderate_cyan : #458c7e;


$very_dark_desaturated_blue: #23303e;
$very_dark_grayish_blue: #5a636c;
$dark_grayish_blue: #818498;
$grayish_blue: #a7abae;
$white: #ffffff;